/* .swiper {
  width: 100%;
} */

/* .swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  width: 100% !important;
  margin: 0rem 0 !important;
}

*/
   
.swiper-slide img {
  display: block;
  width: 100% !important;

  object-fit: cover !important;
  /* border-radius: 10px !important; */
} 
