.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
/* background-color: white; */
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  width: 100% !important;
  margin: 0rem 0 !important;
}
   
.swiper-slide img {
  display: block;
  width: 100% !important;

  object-fit: contain !important;
  border-radius: 0px !important;
}
