.swiper {
  width: 100%;
  
}

.hero-slider-container{

  font-size: 18px;
/* background-color: white; */
  /* Center slide text vertically */
  border-radius: 0;
  width: 100% !important;
  margin: 0rem 0 !important;
  /* background-color: black; */
  padding: 0px !important;
}
   
.hero-slider-container img {
  display: block;
  width: 100% !important;
  object-fit:contain !important;
  border-radius: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
}

.hero-slider-slide{
  margin:0 !important;
}