@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


.scrollbar-hide::-webkit-scrollbar {
    width: 0; /* Set width to 0 to hide the scrollbar */
    background: transparent;
  }

  .open {
    display: block;
  }
  
  .close {
    display: none;
  }

/* Add ripple effect */
.ripple-container {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
}

@keyframes ripple-animation {
  to {
    transform: scale(5);
    opacity: 0;
  }
}




@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.flash-element {
  animation: flash 1s ease-in;
}

.flash-photo {
  animation: flash 300ms ease-in;
}