/* 
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


   */


  
  .swiper-slide {
    width: 24rem;
    height: 30rem;
    margin: 4rem 0;
    position: relative;
   
  }
  
  .swiper-slide img {
    width: 28em;
    height: 30rem;
    border-radius: 2rem;
    object-fit: cover;
  }

  .slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  /* left: 42%; */
  /* transform: translateX(-42%); */
  /* filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1)); */
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #22222477;
}

.slider-controler .slider-arrow::after {
  content: '';
}
/* @media (min-width: 768px) {
  
  .swiper-slide {
    width:15rem;
    height: 25rem;
    margin: 4rem 0;
    position: relative;
   
  }
  
  .swiper-slide img {
    width: 15rem;
    height: 25rem;
    border-radius: 1rem;
    object-fit: cover;
  }
  .slider-controler .slider-arrow{
    width: 2rem;
    height: 2rem;
  }
} */

@media (max-width: 576px) {
  
  .swiper-slide {
    width:10rem;
    height: 15rem;
    margin: 4rem 0;
    position: relative;
   
  }
  
  .swiper-slide img {
    width: 10rem;
    height: 15rem;
    border-radius: 1rem;
    object-fit: cover;
  }
  .slider-controler .slider-arrow{
    width: 2rem;
    height: 2rem;
  }
}

@media (min-width: 1920px) {
  .swiper-slide {
    width:40rem;
    height: 50rem;
    margin: 4rem 0;
    position: relative;
   
  }
  
  .swiper-slide img {
    width: 40rem;
    height: 50rem;
    border-radius: 2rem;
    object-fit: cover;
  }

  .slider-controler .slider-arrow{
    width: 5rem;
    height: 5rem;
  }
  .slider-controler .slider-arrow ion-icon {
    font-size: 3rem;
    color: #22222477;
  }
  
}
  

  


  